In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/top_10_por_año.csv")
df

     AÑO  POSAR6        FOBDOL  PORCENTAJE_ANUAL
0   2015  270900  1.316114e+10             36.54
1   2015  270112  4.256202e+09             11.82
2   2015   90111  2.526532e+09              7.01
3   2015  710812  9.568143e+08              2.66
4   2015  271019  8.786686e+08              2.44
..   ...     ...           ...               ...
95  2024   60319  1.363646e+09              2.75
96  2024  270400  1.093561e+09              2.21
97  2024   80390  1.084901e+09              2.19
98  2024  761010  5.879059e+08              1.19
99  2024  720260  5.421466e+08              1.09

[100 rows x 4 columns]

### Llenar con ceros

Se hizo necesario llenar la variable 'POSAR6' con un cero a la izquiera para que quedara de 6 digitos y quede bien la agrupación

In [4]:
df['POSAR6']=df['POSAR6'].astype(str).str.zfill(6)
df

     AÑO  POSAR6        FOBDOL  PORCENTAJE_ANUAL
0   2015  270900  1.316114e+10             36.54
1   2015  270112  4.256202e+09             11.82
2   2015  090111  2.526532e+09              7.01
3   2015  710812  9.568143e+08              2.66
4   2015  271019  8.786686e+08              2.44
..   ...     ...           ...               ...
95  2024  060319  1.363646e+09              2.75
96  2024  270400  1.093561e+09              2.21
97  2024  080390  1.084901e+09              2.19
98  2024  761010  5.879059e+08              1.19
99  2024  720260  5.421466e+08              1.09

[100 rows x 4 columns]

### Valores únicos para buscar a que producto pertenecen

In [5]:
df['POSAR6'].unique()

array(['270900', '270112', '090111', '710812', '271019', '080390',
       '060319', '720260', '271012', '060311', '870323', '270400',
       '151110', '390410', '761010'], dtype=object)

In [6]:
codigo_a_nombre = {
    '270900': 'Petróleo crudo',
    '270112': 'Hulla bituminosa',
    '090111': 'Café sin tostar',
    '710812': 'Oro no monetario',
    '271019': 'Aceites de petróleo',
    '080390': 'Bananas',
    '060319': 'demás flores y capullos, frescos',
    '720260': 'Ferroníquel',
    '271012': 'Carburreactores',
    '060311': 'Rosas frescas',
    '870323': 'Vehículos',
    '270400': 'Coques',
    '151110': 'Aceite de palma',
    '390410': 'PVC sin mezclar',
    '761010': 'Puertas y Ventanas'
}
df['NombreProducto'] = df['POSAR6'].map(codigo_a_nombre)
df

,AÑO,POSAR6,FOBDOL,PORCENTAJE_ANUAL,NombreProducto
0,2015,270900,1.316114e+10,36.54,Petróleo crudo
1,2015,270112,4.256202e+09,11.82,Hulla bituminosa
2,2015,090111,2.526532e+09,7.01,Café sin tostar
3,2015,710812,9.568143e+08,2.66,Oro no monetario
4,2015,271019,8.786686e+08,2.44,Aceites de petróleo
...,...,...,...,...,...
95,2024,060319,1.363646e+09,2.75,"demás flores y capullos, frescos"
96,2024,270400,1.093561e+09,2.21,Coques
97,2024,080390,1.084901e+09,2.19,Bananas
98,2024,761010,5.879059e+08,1.19,Puertas y Ventanas
99,2024,720260,5.421466e+08,1.09,Ferroníquel

### Reestructuración de datos para animación (pivot)

Se transforma el DataFrame de formato largo a formato ancho, donde:

- Cada fila representa un año (`AÑO`)
- Cada columna representa un producto (`NombreProducto`)
- Cada celda contiene el porcentaje que representó ese producto en el total exportado del año (`PORCENTAJE_ANUAL`)

Esta estructura es necesaria para crear animaciones que muestran cómo cambia la participación de cada producto a lo largo del tiempo, como un bar chart race. Los valores ausentes (productos que no estuvieron presentes en algún año) se rellenan con 0.

In [7]:
df_pivot = df.pivot(index='AÑO', columns='NombreProducto', values='PORCENTAJE_ANUAL').fillna(0)
df_pivot

NombreProducto,Aceite de palma,Aceites de petróleo,Bananas,Café sin tostar,Carburreactores,Coques,Ferroníquel,Hulla bituminosa,Oro no monetario,PVC sin mezclar,Petróleo crudo,Puertas y Ventanas,Rosas frescas,Vehículos,"demás flores y capullos, frescos"
AÑO,,,,,,,,,,,,,,,
2015,0.00,2.44,2.10,7.01,1.12,0.00,1.19,11.82,2.66,0.00,36.54,0.00,0.88,0.00,1.69
2016,0.00,4.18,2.71,7.64,2.15,0.00,1.04,13.87,4.49,0.00,27.30,0.00,0.00,1.06,2.00
2017,0.00,3.11,2.25,6.61,2.30,1.51,0.95,17.92,4.10,0.00,29.48,0.00,0.00,0.00,1.82
2018,0.00,4.30,1.93,5.41,2.77,2.08,1.33,15.66,3.07,0.00,32.94,0.00,0.00,0.00,1.72
2019,0.00,5.12,2.20,5.76,2.26,1.99,1.38,12.34,4.17,0.00,32.87,0.00,0.00,0.00,1.86
2020,1.06,4.10,2.94,7.88,0.00,2.01,1.40,11.41,8.91,0.00,22.96,0.00,0.00,0.00,2.35
2021,0.00,4.24,2.26,7.47,0.00,3.07,1.28,10.57,7.24,1.21,27.06,0.00,0.00,0.00,2.18
2022,0.94,4.01,1.72,6.96,0.00,3.14,1.60,18.43,4.94,0.00,27.83,0.00,0.00,0.00,2.05
2023,0.00,5.70,1.63,5.61,0.00,2.24,1.28,16.10,6.47,0.00,25.44,1.30,0.00,0.00,2.40
2024,0.00,5.20,2.19,6.85,0.00,2.21,1.09,12.12,7.88,0.00,24.35,1.19,0.00,0.00,2.75

In [ ]:

import numpy as np
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import OffsetImage, AnnotationBbox
from IPython.display import HTML
from PIL import Image
 import os

# Ruta donde están las imágenes .jpg
ruta_imagenes = "imagenes"

# --- Función para cargar imagen JPG --- las imagenes deben estar guardadas con el mismo nombre del producto
def get_image(nombre_producto):
    ruta = os.path.join(ruta_imagenes, f"{nombre_producto}.jpg")
    if os.path.exists(ruta):
        img = Image.open(ruta)
        return OffsetImage(img, zoom=0.1)  # Ajusta el zoom aquí según tu imagen
    return None

# --- Preparar datos interpolados ---
original_years = df_pivot.index
frames_per_year = 20
new_index = np.linspace(original_years.min(), original_years.max(),
                        num=(len(original_years) - 1) * frames_per_year + 1)

df_interp = df_pivot.copy()
df_interp = df_interp.interpolate(method='linear', axis=0)
df_interp = df_interp.reindex(new_index)
df_interp = df_interp.interpolate(method='linear', axis=0)

# --- Inicializar figura ---
fig, ax = plt.subplots(figsize=(12, 6))
plt.style.use('seaborn-v0_8-pastel')

# --- Función de animación ---
def draw_bars(frame):
    ax.clear()
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)
    ax.spines['left'].set_linewidth(1)
    ax.spines['bottom'].set_linewidth(1)
    current_year = df_interp.index[frame]
    data = df_interp.loc[current_year].sort_values(ascending=False).head(10)[::-1]  # de abajo hacia arriba
    
    bars = ax.barh(data.index, data.values, color='skyblue')
    
    ax.set_title("Cambios en la participación (%) del Top 10 de exportaciones colombianas por valor FOBDOL (2015–2024)", fontsize=12, loc="left")
    ax.text(
    0.98, 0.05,                     # Coordenadas relativas (95% derecha, 95% arriba)
    f"{int(current_year)}",         # Texto del año
    transform=ax.transAxes,         # Usa sistema de coordenadas del gráfico
    fontsize=28,                    # Tamaño grande
    fontweight='bold',
    ha='right', va='bottom',           # Alineación
    color='gray',                   # Color discreto pero visible
    alpha=0.8
)
    ax.set_xlim(0, df_interp.values.max() * 1.25)  # más espacio a la derecha
    ax.set_xlabel('Participación %')
    ax.set_ylabel('Producto')

    for bar, value, producto in zip(bars, data.values, data.index):
        # Texto del valor
        ax.text(value + 0.5, bar.get_y() + bar.get_height()/2,
                f'{value:.2f}%', va='center', ha='left', fontsize=10)

        # Imagen al final de la barra
        img = get_image(producto)
        if img:
            x_img = value + 3.5  # Aumenta esta distancia para más separación
            y_img = bar.get_y() + bar.get_height() / 2
            img_box = AnnotationBbox(
                img,
                (x_img, y_img),
                frameon=False,
                box_alignment=(0, 0.5),
                xycoords='data'
            )
            ax.add_artist(img_box)
    
    ax.set_yticks(range(len(data.index)))
    ax.set_yticklabels(data.index)
    fig.text(0.01, 0.01, 'Fuente: Cálculos propios con base en microdatos del DANE - Exportaciones', 
             ha='left', va='bottom', fontsize=9, color='gray')

    plt.tight_layout(rect=[0, 0.03, 1, 0.95])
    plt.close()

# --- Crear animación con pausa final ---
pausa_final = 30  # ~2.5 segundos extra al final
ani = FuncAnimation(
    fig,
    draw_bars,
    frames=list(range(len(df_interp))) + [len(df_interp) - 1] * pausa_final,
    interval=83,  # 83ms por frame → ~15 segundos en total
    repeat=False
)

# --- Mostrar en Jupyter ---
HTML(ani.to_jshtml())

In [12]:
ani.save("exportaciones_animacion.mp4", writer='ffmpeg', dpi=200)